// TISCO-regular
@include font-face( "TISCO", "#{$font-path}tisco-regular", ("woff2", "woff") ) {
  font-style: normal;
  font-weight: normal;
}
// TISCO-bold
@include font-face( "TISCO", "#{$font-path}tisco-bold", ("woff2", "woff") ) { 
  font-style: normal; 
  font-weight: 700; 
}
// TISCO-bolditalic
@include font-face( "TISCO", "#{$font-path}tisco-bolditalic", ("woff2", "woff") ) {
  font-style: italic;
  font-weight: 700;
}
// TISCO-text
@include font-face( "TISCO-Text", "#{$font-path}tiscotext-regular", ("woff2", "woff") ) {
  font-style: normal;
  font-weight: normal;
}
// TISCO-text-bold
@include font-face( "TISCO-Text", "#{$font-path}tiscotext-bold", ("woff2", "woff") ) {
  font-style: normal;
  font-weight: 700;
}